
<div class="card">
    <div>
        <i><img src="../../../assets/restaurant.png" class="login-icon"alt=""></i>        
    </div>
    <h1>
        {{ 'Restaurant' | uppercase}}<br>
        <span>{{ 'Noknox' | uppercase}}</span>
    </h1>

    <div class="alert-error" [@FadeInOut]="message ? 'open' : 'closed'" >
        {{ message }}
    </div>

    <input class="input-form" type="text" [(ngModel)]="login" placeholder="username">
    <input class="input-form" type="password" [(ngModel)]="password" placeholder="password">
    <button class="btn-primary"  (click)="Login()"> <i class="fas fa-sign-in-alt"></i> Log in</button>
    <a [routerLink]="['/register']" class="register">Register</a>

    
</div>