
<div>
    <div class="find">
        <span>Select cuisine</span>
        <div class="select">
            <ng-select  [multiple]="true" name="" id="" [(ngModel)]="ids" >
                <ng-option *ngFor='let cuisine of cuisines' value="{{ cuisine.id }}">{{ cuisine.name }}</ng-option>
            </ng-select>
            <button (click)="findRestaurants()"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="map-card">
        <app-map-box></app-map-box>
    </div>
    
    <div class="row" *ngIf="restaurants" >
        <div class="card-group">
            <div class="card" *ngFor="let restaurant of restaurants ">
                <p>
                    <strong>{{restaurant.name}}</strong><br>
                    <i class="fas fa-star"></i>{{restaurant.rating}} 
                </p>
                <div class="img" (click)="redirectTo( restaurant.url )">
                    <img src="{{restaurant.imageUrl != '' ? restaurant.imageUrl : 'https://a.imge.to/2019/07/18/1Lpt0.jpg'}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>