/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

body{
    font-family: 'Montserrat', sans-serif;

}
*{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
    border:0;
    vertical-align:baseline;
    list-style:none;
}
.card{
    height: 250px;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 0px 30px grey;
    border-radius: 5px;
    width:14%;
    float: left;          
    margin: 1%;
}
.btn-primary{
    background-color: #4d81f0;
    color:white;
    font-size: 18px;
    padding: 1.5%;
    border-radius: 2px;
}   
.input-form{
    margin: 25px 5% 0 5%;
    width: 90%;
    border: solid;
    border-width: 0 0 1px 0;
    height: 30px;
    font-size: 18px;
    font-weight: 100;
    color: gray
}
.alert-error{
    opacity: 0;
    text-align: center;
    color: red;
    font-style: italic;
}